/Adz.User.CMS/Content/upload
/Adz.BLL.API/Adz.BLL.API/bin
/Adz.BLL.API/Adz.BLL.API/obj
/Adz.BLL.API/Adz.BLL.API.ServiceInterface/bin
/Adz.BLL.API/Adz.BLL.API.ServiceInterface/obj
/Adz.BLL.API/Adz.BLL.API.ServiceModel/bin
/Adz.BLL.API/Adz.BLL.API.ServiceModel/obj
/Adz.BLL.Lib/bin
/Adz.BLL.Lib/obj
/Adz.User.CMS/bin
/Adz.User.CMS/obj
/Adz.BLL.API/Adz.BLL.API/logs
/Adz.User.CMS/logs
/Adz.DAL.EF/bin
/Adz.DAL.EF/obj
/Adz.BLL.API/Adz.BLL.API/ExceptionLog.log
/Adz.User.CMS/ExceptionLog.log
/Adz.BLL.API.Tests/bin
/Adz.BLL.API.Tests/obj
/Adz.Tasks/bin
/Adz.Tasks/obj
/Adz.Scheduler.Report/obj
/Adz.Scheduler.Report/bin
/packages