
@{
    ViewBag.Title = "Merchant Archive";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Kendo.Mvc.UI
<script type="text/javascript">
    $(document).ready(function () {
        changeverticalnav(6);
        $(document).tooltip();
    });
</script>

<div class="rightheader">
    <h1>Merchant Archive</h1>
    <div class="pagelink">
        <a href="#">Admin Portal</a> /
        <a>Merchant Archive</a>
    </div>
</div>

<div id="msgbox">
</div>

@(Html.Kendo().Grid<Adz.User.CMS.Models.MerchantModel.Merchant>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Country.CountryName).Title("Country");
        columns.Bound(p => p.City.CityName).Title("City");
        columns.Bound(p => p.Create).Format("{0:dd MMM yyyy}").Title("Created On");
        columns.Bound(p => p.LastAction).ClientTemplate(
            "<a class='gridBtn' href='MerchantView?MerchantId=#=MerchantId#'><span class='fa fa-eye' title='View' ></span></a>&nbsp;&nbsp;" +
            "#if(LastAction!='5'){#" +
            "|&nbsp;&nbsp;<a class='gridBtn' href='MerchantEdit?MerchantId=#=MerchantId#'><span class='fa fa-pencil' title='Edit' ></span></a>&nbsp;&nbsp;" +
            "|&nbsp;&nbsp;<a class='gridBtn k-button-icontext k-grid-delete'  href=''><span class='fa fa-archive' title='Archive' ></span></a>" +
            "|&nbsp;&nbsp;<a class='gridBtn'  onclick='Duplicate(#=MerchantId#)'><span class='fa fa-files-o' title='Duplicate' ></span></a>" +
            "#}#").Title("Action").Filterable(filter => filter.Enabled(false)).Width(200);
    })
    .Editable(editable => editable.DisplayDeleteConfirmation("Do you want to archive this merchant?"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Events(events => events.Error("error_handler"))
        .Read(read => read.Action("Merchant_Read", "Merchant"))
        .Destroy(destroy => destroy.Action("Merchant_Destroy", "Merchant"))
        .Model(model =>
        {
            model.Id(p => p.MerchantId);
        })
        .Filter(filter => filter.Add(p => p.LastAction).IsEqualTo("5"))
    )
        //.Events(events => events.DataBound("onDataBound").Change("onChange"))
    .Filterable(filterable => filterable
        .Extra(false)
            .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .Contains("Contains")
            ))
    )
    .Pageable(page => page
        .Refresh(true)
        .PageSizes(true)
    )
        //.Scrollable(scr => scr.Height(280))
    .Sortable(sortable => sortable
        .AllowUnsort(true)
        .SortMode(GridSortMode.MultipleColumn))
        //.Groupable()
    .Resizable(resize => resize.Columns(true))
    .Reorderable(reorder => reorder.Columns(true))
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var result = "";
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message = this;
                    });
                }
            });
            if (message != "") {
                result = '<div class="alert alert-block alert-success">'
                + '<a class="close" data-dismiss="alert" href="#">X</a>'
                + '<h4 class="alert-heading">Error</h4>'
                + message
                + '</div>';

                $("#msgbox").html(result);
            }
        }
    }
</script>