<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TheAdzEntities" connectionString="metadata=res://*/AdzModel.csdl|res://*/AdzModel.ssdl|res://*/AdzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=TheAdz;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TheAdzEntities" connectionString="metadata=res://*/AdzModel.csdl|res://*/AdzModel.ssdl|res://*/AdzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snb5z27d6f.database.windows.net;initial catalog=theadzdev;persist security info=True;user id=theadzdev;password=Th34dzd3v;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="GMT" value="7" />
    <add key="sessiontimeout_hour" value="6" />

    <add key="uploadpath" value="http://localhost:6610/Content/upload/" />
    <add key="domain" value="http://localhost:24217/" />

    <!--<add key="uploadpath" value="http://theadzdemo.cloudapp.net/TheAdz/Content/upload/"/>
    <add key="domain" value="http://theadzdemo.cloudapp.net/TheAdzAPI/" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>