@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="panel-group" id="accordion">
    <div class="faqHeader">General</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    What is Adz?
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Adz is the lockscreen app that pays you to receive content, promotions and offers from brands you like. Get rewarded for using your phone. It’s easy!
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    What’s the catch?
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                The catch is that we bring content, promotions and offers to you via your lockscreen.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    What is this “content, promotions and offers” Adz will put on my lockscreen?
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                We won’t lie. The content, promotions and offers you’ll receive are actually a variety of purposeful advertisements. It ranges from the latest news, flash deals and other money-saving offers that we thought you’d like to know about.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    Why my lockscreen?
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                Adz’s purpose is to connect you to great offers, discounts and sweet savers. What better platform than the humble lockscreen that you view daily is perfect for serving you flash deals and updates fast?
            </div>
        </div>
    </div>

    <div class="faqHeader">Point System</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    How does Adz’s points system work?
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                You earn 50 points every day for running the app. The longer you use Adz, the more points you earn.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    How do I earn extra points?
                </a>
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                By telling your friends about us! Share your unique referral code to earn extra points.
            </div>
        </div>
    </div>

    <div class="faqHeader">Rewards & Cashing Out</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    When can I redeem / cash out?
                </a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                You can redeem rewards or cash out once you have sufficient points.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                    How many points do I need before I can redeem a reward?
                </a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                You’ll need a minimum of 1500 points, which is what the amount you’ll accumulate after you’ve used Adz consecutively for 1 month.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                    How many points do I need before I can cash out?
                </a>
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
                You’ll need a minimum of 5800 points to cash out RM20.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                    How will I receive my rewards / cash?
                </a>
            </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body">
                Rewards – for rewards like vouchers and tickets, we will mail them directly to you. During the redemption process, you will be prompted to provide your address particulars.
                <br/>
                Cash – for cash outs, we will transfer the money to you via bank transfer. During the redemption process, you will be prompted to provide your bank particulars.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                    Can I suggest new rewards to the Adz team?
                </a>
            </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body">
                Absolutely! Just drop us an email at hello@theadz.com.    
            </div>
        </div>
    </div>

    <div class="faqHeader">Usage</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                    Will Adz drain my battery?
                </a>
            </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
                Not at all. Adz has been optimised to keep battery consumption at a minumum.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                    Will Adz drain my data?
                </a>
            </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
                Adz requires very little data to maintain. In fact, your Facebook app probably uses more data. We know. We tried.
            </div>
        </div>
    </div>

    <div class="faqHeader">Troubleshooting</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                    I’ve been using Adz for a while but my points are not increasing!
                </a>
            </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
            <div class="panel-body">
                Daily points are awarded based on two conditions:
                <br/>
                1)	Adz app must be running for daily points to be awarded
                <br />
                2)	Adz app needs to be run on an active phone
                <br />
                If you still experience problems despite the above conditions, get in touch with us at hello@theadz.com.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15">
                    I have a problem but it’s not listed here.
                </a>
            </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
            <div class="panel-body">
                We’re on it. Drop us an email at hello@theadz.com with [Troubleshoot] in the topic box and we’ll do our best to help.
            </div>
        </div>
    </div>

</div>


<style>
    body{
        padding-top: 0;
    }

    .faqHeader {
        font-size: 20px;
        margin: 20px;
        color: #689F38;
        font-weight: bold;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #B8B8B8;
        font-size: 15px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }

    .panel-body{
        color: white;
        background-color: #689F38;
    }
</style>