<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  </configSections>
  <connectionStrings>
    <add name="TheAdzEntities" connectionString="metadata=res://*/AdzModel.csdl|res://*/AdzModel.ssdl|res://*/AdzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=TheAdz;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="TheAdzEntities" connectionString="metadata=res://*/AdzModel.csdl|res://*/AdzModel.ssdl|res://*/AdzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=snb5z27d6f.database.windows.net;initial catalog=theadzdev;persist security info=True;user id=theadzdev;password=Th34dzd3v;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="GMT" value="7" />
    <add key="servicestack:license" value="1813-e1JlZjoxODEzLE5hbWU6QXBwc3RyZWFtIFNkbiBCaGQsVHlwZTpJbmRpZSxIYXNoOmJ4T013aG9NUEE3ZFpjZzFudkZPNlhKaElnOHBIWVllNEs3WkkzemphK3pZWC82aGdOU0ZNTGxnMXY5NHVOZlYrUmJ4Q0twYVowN25vNzZRZnB6Mm15QUh2aEtTRnJhSjhTa3dPd3FEd1l0Wkd0RHpTdThHTXJoMjR5aHFGWTAxM3l5SEUzaHpWQ1RtS1BZZlZQcWFNdkR0MnVrM1o4akFTeGRMRTZxUzJlVT0sRXhwaXJ5OjIwMTUtMDgtMjF9" />
    
    <add key="uploadpath" value="http://localhost:6610/Content/upload/" />
    <add key="domain" value="http://localhost:24217/" />
    <add key="upload-dir-before" value="\Adz.BLL.API\Adz.BLL.API\bin" />
    <add key="upload-dir-after" value="\Adz.User.CMS\Content\upload" />
    
	  <!--<add key="uploadpath" value="http://theadzdemo.cloudapp.net/TheAdz/Content/upload/"/>
    <add key="domain" value="http://theadzdemo.cloudapp.net/TheAdzAPI/" />
    <add key="upload-dir-before" value="\TheAdzAPI\bin" />
    <add key="upload-dir-after" value="\TheAdz\Content\upload" />-->
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="ExceptionLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>